---
import { getCollection } from "astro:content";
import RootLayout from "../../layouts/RootLayout.astro";

const allBlogPosts = await getCollection("blog");
---

<RootLayout>
  <h1>Blog</h1>

  <ul>
    {
      allBlogPosts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</RootLayout>
