---
const links = [
  { href: "/", title: "Home" },
  { href: "/blog", title: "Blog" },
  { href: "/snippets", title: "Snippets" },
];
---

<footer class="mt-10 bg-emerald-200 dark:bg-zinc-800">
  <div class="container flex max-w-3xl flex-col space-y-6 px-4 py-6">
    <nav class="grid grid-cols-2 gap-2 sm:grid-cols-3">
      {
        links.map((link) => (
          <a
            href={link.href}
            class="font-sora text-lg font-medium text-emerald-900 dark:text-zinc-300 sm:text-xl"
          >
            {link.title}
          </a>
        ))
      }
    </nav>

    <div
      class="font-sora text-sm font-medium text-zinc-800 dark:text-zinc-200 sm:text-base"
    >
      © 2019 - {new Date().getFullYear()}, Built with
      {` `}
      <a
        class="font-semibold text-emerald-800 dark:text-emerald-500"
        href="https://astro.build/"
        target="_blank"
        rel="noopener noreferrer"
      >
        {"Astro"}
      </a>
      {", "}
      <a
        class="font-semibold text-emerald-800 dark:text-emerald-500"
        href="https://tailwindcss.com/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Tailwind CSS
      </a>
      {", & "}
      <a
        class="font-semibold text-emerald-800 dark:text-emerald-500"
        href="https://vercel.com/home"
        target="_blank"
        rel="noopener noreferrer">Vercel</a
      >
    </div>
  </div>
</footer>
