---
const links = [
  { name: "Home", href: "/" },
  { name: "Blog", href: "/blog" },
];
---

<header
  class="container flex w-full max-w-3xl flex-row items-center justify-between gap-8 p-4 sm:min-h-[74px]"
>
  <nav class="flex flex-row flex-wrap items-center gap-4">
    {
      links.map(({ name, href }) => (
        <a
          href={href}
          class="font-sora text-base font-medium text-zinc-800 dark:text-zinc-200 sm:text-lg"
        >
          {name}
        </a>
      ))
    }
  </nav>
</header>
