---
import clsx from "classnames";
import ThemeToggle from "./ThemeToggle";
import { LINK } from "@/utils/constants";
---

<header
  class="container flex w-full max-w-3xl flex-row items-center justify-between gap-8 p-4 sm:min-h-[74px]"
>
  <nav class="flex flex-row flex-wrap items-center gap-4">
    {
      LINK.map(({ title, href, activePath }) => (
        <a
          href={href}
          class={clsx(
            "font-sora text-base font-medium sm:text-lg",
            activePath.test(Astro.url.pathname)
              ? "text-emerald-700 dark:text-emerald-600"
              : "text-zinc-800 dark:text-zinc-200"
          )}
        >
          {title}
        </a>
      ))
    }
  </nav>

  <ThemeToggle client:idle />
</header>
