---
import ThemeToggle from "./ThemeToggle";

const links = [
  { href: "/", title: "Home" },
  { href: "/blog", title: "Blog" },
  { href: "/snippets", title: "Snippets" },
];
---

<header
  class="container flex w-full max-w-3xl flex-row items-center justify-between gap-8 p-4 sm:min-h-[74px]"
>
  <nav class="flex flex-row flex-wrap items-center gap-4">
    {
      links.map(({ title, href }) => (
        <a
          href={href}
          class="font-sora text-base font-medium text-zinc-800 dark:text-zinc-200 sm:text-lg"
        >
          {title}
        </a>
      ))
    }
  </nav>

  <ThemeToggle client:idle />
</header>
