---
import coverPic from "@/public//cover-pic.jpg";
import RootLayout from "@/layouts/RootLayout.astro";
import ProseWrapper from "@/components/ProseWrapper.astro";
import { Content } from "src/about.md";
import { Image } from "@astrojs/image/components";
---

<RootLayout>
  <Image
    src={coverPic}
    alt="A picture of Akhila Ariyachandra"
    class="mb-10 rounded-lg"
    format="webp"
  />

  <div class="mt-4 space-y-6">
    <h1
      class="font-sora text-3xl font-black text-zinc-800 dark:text-zinc-200 sm:text-4xl"
    >
      {`Hi, I'm `}
      <span class="text-emerald-700 dark:text-emerald-600">
        Akhila Ariyachandra
      </span>
    </h1>

    <ProseWrapper>
      <Content />
    </ProseWrapper>
  </div>
</RootLayout>
