---
import { Icon } from "astro-icon";

interface Props {
  type?: "warn" | "info";
}

const { type } = Astro.props;

let wrapperClass =
  "text-sm sm:text-base my-8 mx-auto p-4 border-2 rounded-md flex items-center w-full max-w-xl ";
let iconClass = "h-8 w-8 ";

switch (type) {
  case "warn":
    wrapperClass = wrapperClass + "border-red-600";
    iconClass = iconClass + "text-red-600";
    break;
  case "info":
    wrapperClass = wrapperClass + "border-yellow-400";
    iconClass = iconClass + "text-yellow-400";
    break;
  default:
    wrapperClass = wrapperClass + "border-emerald-600";
    iconClass = iconClass + "text-emerald-600";
}
---

<div class={wrapperClass}>
  {
    type === "warn" && (
      <Icon name="fa-solid:exclamation-circle" class={iconClass} />
    )
  }
  {type === "info" && <Icon name="fa-solid:lightbulb" class={iconClass} />}
  {!type && <Icon name="fa-solid:sticky-note" class={iconClass} />}

  <div
    class="not-prose ml-4 flex-1 font-sora text-sm text-zinc-800 dark:text-zinc-200 sm:text-base"
  >
    <slot />
  </div>
</div>
